.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(99, 99, 233);
  color: white;
}
.links {
  color: white;
  text-decoration: none;
  font-weight: 700;
  border: 2px solid white;
  border-radius: 9px;
  padding: 7px;
  margin-bottom: 1em;
}
